* {
    /*הגדרות כלליות*/
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    direction: rtl;
}

body {
    /*הגדרות רקע ומבנה עמוד*/
    background-image: linear-gradient(to bottom,
            #E0F2FF,
            #70A3C4);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
}

#signup-page .container,
#chanich-page .container,
#login-page .container {
    /*קונטיינר רגיל*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    max-width: 600px;
}

#mefaked-page .container,
#jobs-page .container {
    /*קונטיינר רחב לטבלה*/
    width: 95%;
    max-width: 1800px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    /*טופס*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 80%;
}

#signup-page form,
#login-page form {
    /*יישור טופס*/
    align-items: center;
}

#chanich-page form .form-section {
    /*יישור טופס*/
    align-items: flex-start;
}

#jobs-page form {
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

h1 {
    /*כותרת*/
    color: #4d5382;
    text-align: center;
    font-size: 36px;
}

h2,
h3 {
    /*כותרת*/
    color: #4d5382;
    font-size: 26px;
}

#signup-page label,
#login-page label {
    color: #4d5382;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

input {
    color: black;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;
}

.checkbox-group input[type="checkbox"] {
    order: -1;
    width: 20px !important
}

select {
    color: black;
    font-size: 20px;
    border-radius: 5px;
    border-width: 2.2px;
    border-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.logo {
    animation: FadeIn 3s ease-in;
    width: 200px;
    height: auto;
    margin-bottom: -40px;
    margin-right: 18px;
    margin-top: -40px;
}

button {
    background-color: #70a3c4;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 26px;
    margin: 4px 2px;
    border-radius: 12px;
    transition: transform 0.5s ease-in;
    margin-top: 15px;

}

button:hover {
    background-color: #4d5382;
    transform: scale(1.1);
}


.simple-button {
    background-color: transparent;
    border: none;
    color: #4d5382;
    transition: transform 0s ease-in;
    font-size: 16px;
}

.simple-button:hover {
    background-color: transparent;
    transform: scale(1.1);
}

.card-table {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
    margin-top: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1200px
}

th {
    font-size: 20px;
    text-align: center;
    background-color: white;
    padding: 15px;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    color: #4d5382;
}

td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    text-align: center;
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 20px;
}

.header-section {
    flex: 1;
    display: flex;
    align-items: center;
}

#mefaked-page .logo,
#chanich-page .logo,
#jobs-page .logo {
    animation: FadeIn 3s ease-in;
    width: 200px;
    height: auto;
    margin-bottom: -40px;
    margin-right: 18px;
    margin-top: -40px;
    justify-content: center;
}

.profile-container {
    position: relative;
    display: flex;
    align-items: center;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.right-side {
    justify-content: flex-start;
}

.center-side {
    justify-content: center;
}

.left-side {
    justify-content: flex-end;
}

.profile-dropdown {
    position: absolute;
    top: 100%;
    margin-top: 6px;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 160px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    z-index: 1000;
}

#username-display {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
    color: #4d5382;
    margin-bottom: 6px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}